<footer class="text-center footer" style="background-color: #f1f1f1">

    <nav class="navbar navbar-dark shadow-sm">
      <div class="navbar-brand align-item-center d-flex">
        <a href="#"><i
          style="
            font-size: 40px;
            /* margin-left: 20px;
            margin-right: 20px; */
            color: black;
          "
          class="fa-sharp fa-solid fa-house"
          >
        </i></a>
        <a href="#"><i
          style="
            font-size: 40px;
            /* margin-left: 20px;
            margin-right: 20px; */
            color: black;
          "
          class="fa-solid fa-user"
        ></i></a>
        <a href="#"><i
          style="
            font-size: 40px;
            /* margin-left: 20px;
            margin-right: 20px; */
            color: black;
          "
          class="fas fa-cart-plus"
        ></i></a>

        <a href="#"><i
          style="
            font-size: 40px;
            /* margin-left: 20px;
            margin-right: 20px; */
            color: black;
          "
          class="fa-solid fa-bars"
        ></i></a>
      </div>
    </nav>

</footer>
