<div class ="card-top container-fluid">
    <div class = "container d-flex">
        <div class="item">
            <a>

                <img src="https://www.freepng.fr/png-u0mlxp/download.html" alt="">
                <h6> Tous les produits</h6>
            </a>
        </div>
        <div class="item">
            <a>

                <img src="https://www.freepng.fr/png-u0mlxp/download.html" alt="">
                <h6> Tous les produits</h6>
            </a>

        </div>
        <div class="item">
            <a>

                <img src="https://www.freepng.fr/png-u0mlxp/download.html" alt="">
                <h6> Tous les produits</h6>
            </a>

        </div>
        <div class="item">
            <a>

                <img src="https://www.freepng.fr/png-u0mlxp/download.html" alt="">
                <h6> Tous les produits</h6>
            </a>

        </div>
    </div>


</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space:nowrap;overflow: hidden;text-overflow : ellipsis; max-width: 100ch">{{item.title}}</h5>
                <p style="white-space:nowrap;overflow: hidden;text-overflow : ellipsis; max-width: 100ch">{{item.description}}</p>
                <p><strong>Prix:</strong>${{item.price}}</p>
                <button class="btn btn-primary">Rajouter au panier</button>
            </div>
        </ng-container>
    </div>

</div>

