div {
  background: rgb(115, 251, 222);
  background: linear-gradient(
    180deg,
    rgba(115, 251, 222, 1) 0%,
    rgba(115, 251, 222, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  align-items: center;

}

.form-control {
  border-radius: 5px;
  width: 600px;
  margin-left: 20px;


}

.search-icon{
   position: absolute;
   z-index: 10;
   right: 44%;
   top: 22px;
   color: rgb(115, 251, 222);;
}

button{
    background: rgb(115, 251, 222);
    border-radius: 20px;
    margin-right: 30px;
    padding: 5px 20px;
}

.badge{
 color: white;
 background: red;
}
